footer {
  position: absolute;
  /* position: -webkit-sticky;  */
  position: sticky;
  bottom: 0px;
  background:rgb(150, 196, 205);
  height:60px; 
  font-size: 20px;
}
.footer-link {
  padding:0.5em;
}