body {
  background-image: url("./background.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#project-card {
  padding: 20px;
  background-position-x: thistle;
}

.p-description {
  background-color: #edddec;
  padding: 20px;
  text-indent: 10%;
  
}